[roles6]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/237256
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values6
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/1660792

[role_values6]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/energy-data-provider

# ---------------------------------------------------------------------------

[roles7]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/293482
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values7
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/2054374

[role_values7]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/supplier

# ---------------------------------------------------------------------------

[roles8]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/927625
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values8
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/6493375

[role_values8]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/distributor

# ---------------------------------------------------------------------------

[roles9]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/143252
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values9
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/1002764

[role_values9]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/farm-management-provider

# ---------------------------------------------------------------------------

[roles10]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/394722
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values10
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/2763054

[role_values10]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/accounts-platform-provider

# ---------------------------------------------------------------------------

[roles11]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/183426
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values11
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/1283982

[role_values11]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/environmental-reporting-provider

# ---------------------------------------------------------------------------

[roles12]
subjectAltName = URI:https://directory.core.trust.ib1.org/member/582373
1.3.6.1.4.1.62329.1.1=ASN1:SEQUENCE:role_values12
1.3.6.1.4.1.62329.1.2=ASN1:UTF8:https://directory.core.trust.ib1.org/scheme/supply/application/4076611

[role_values12]
value.1=UTF8:https://registry.core.trust.ib1.org/scheme/supply/role/financial-service-provider

# ---------------------------------------------------------------------------
